<section>
    <div class="container">
        <div class="pt-5">
            <h2 class="mb-3 theme-title">There are my Portfolio!</h2>
            <button mat-raised-button color="primary" [routerLink]="'/template-driven'">Template Driven Form</button>
            <button mat-raised-button color="accent" [routerLink]="'/reactive-form'">Reactive Form</button>
            <button mat-raised-button color="warn" [routerLink]="'/register'">User Registration</button>
            <button mat-raised-button color="default" [routerLink]="'/todo'">Todo Apps</button>
            <button mat-raised-button color="primary" [routerLink]="'/crudapp'">CRUD Apps</button>
        </div>
    </div>
</section>